.DS_Store
 
.tmp.driveupload/
.tmp.drivedownload/
 
MyProject22/assignment1/.venv/
__pycache__/
MyProject22/assignment2/.venv/
MyProject22/assignment3/.venv/

MyProject22/assignment2/cs231n/datasets/cifar-10-batches-py/
