.DS_Store
 
.tmp.driveupload/
.tmp.drivedownload/

__pycache__/

.venv/

MyProject22/assignment2/cs231n/datasets/cifar-10-batches-py/ 
MyProject22/assignment2/cs231n/datasets/*.npz

MyProject22/assignment2/cs231n/im2col_cython.c
MyProject22/assignment2/cs231n/*.so
MyProject22/assignment2/cs231n/build/

MyProject22/assignment3/cs231n/datasets/coco_captioning.zip
MyProject22/assignment3/cs231n/datasets/coco_captioning/*.h5
MyProject22/assignment3/cs231n/datasets/coco_captioning/*.json
MyProject22/assignment3/cs231n/datasets/coco_captioning/*.txt
MyProject22/assignment3/cs231n/datasets/*.npz
MyProject22/assignment3/data/
MyProject22/assignment3/cs231n/datasets/MNIST_data/
MyProject22/assignment3/pretrained_model/pretrained_simclr_model.pth
