.DS_Store
 
.tmp.driveupload/
.tmp.drivedownload/
 
MyProject22/assignment1/.venv/
__pycache__/
MyProject22/assignment2/.venv/
MyProject22/assignment3/.venv/

MyProject22/assignment2/cs231n/datasets/cifar-10-batches-py/ 
MyProject22/assignment2/cs231n/im2col_cython.c
MyProject22/assignment2/cs231n/im2col_cython.cpython-310-darwin.so
MyProject22/assignment2/cs231n/build/
MyProject22/assignment2/cs231n/im2col_cython.cpython-39-darwin.so
